.comment {
  margin-top: 1.5rem;

  display: flex;
  gap: 1rem;

  & > img {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
  }

  & .commentBox {
    flex: 1;

    & .commentContent {
      background-color: var(--gray-700);

      border-radius: 8px;

      padding: 1rem;

      & header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & .authorAndTime {
          display: grid;

          & strong {
            font-size: 0.875rem;
            line-height: 1.6;
          }

          & span {
            line-height: 1.6;
            font-size: .75rem;

            color: var(--gray-400);
          }
        }

        & button {
          background-color: transparent;
          color: var(--gray-400);
          
          border: 0;
          cursor: pointer;

          line-height: 0;
          border-radius: 2px;

          &:hover {
            color: var(--red-500);
          }
        }
      }

      & p {
        margin-top: 1rem;
        color: var(--gray-300);
      }
    }

    & footer {
      margin-top: 1rem;

      & button {
        background-color: transparent;
        color: var(--gray-400);
        
        border: 0;
        border-radius: 2px;

        display: flex;
        align-items: center;

        cursor: pointer;

        &:hover {
          color: var(--green-300);
        }

        & svg {
          margin-right: 0.5rem;
        }

        & span::before {
          content: "\2022";
          padding-inline: 0.25rem;
        }
      }
    }
  }
}